[flake8]
# UFN plugin must be run in serial
jobs = 0
max-line-length = 120

exclude =
    doc,
    .tox,
    .venv,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*,
    utilities/manifests/*,
    utilities/plugins/*,

fcn_exclude_functions =
    re,
    logging,
    LOGGER,
    os,
    json,
    pytest,
    usefixtures,
    add_to_labels,
    addoption,
    write,
    from_pytest_fixture,
    QueueListener,
    yaml,
    add_to_assignees,
    validate_inference_output,  # TODO: function should be fixed to get rid of this
    group

enable-extensions =
    FCN,
    UFN,
    NIC,
    NIT,
