name: Tox Tests

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  tox-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Install tox-uv
      run: |
        uv tool install tox --with tox-uv

    - name: Run tox environments
      run: |
        tox
